*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


  



/*home*/
@import"html/home";

/*lentes opticos*/
@import"html/lentesopticos";

/*lentes de sol*/
@import"html/lentesdesol";

/*join*/
@import"html/join";





