body {
    font-family: $tipo-voga;

    header {
        .navegacion {
            background-color: $color-voga;

            .menu {
                padding: 2%;

                h1 {
                    a {
                        img {
                            width: 28%;
                            @include mobile{
                                max-width:15%;
                            }
                        }
                    }
                }

                .botones {
                    a {
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                        padding: 10px;
                    }
                }
            }
        }
    }
}