/*header*/
@import"../html/header";

/*css join*/

body{
    
    font-family: $tipo-voga;

.crear-cuenta {

    display: grid;
    justify-content: center;

    .beneficios-voga {

        text-align: center;
        margin: 20px;
        padding: 10px;

        h2 {
            padding-bottom: 50px;
        }

    }

    .completar {

        height: 958px;
        width: 888px;
        background-color: aliceblue;
        border-radius: 52px;

        p {
            padding-left: 200px;
            padding-top: 200px;

        }

        h3 {
            text-align: center;
            padding: 20px;

        }

        input {

            padding-right: 30px;
            display: block;
            margin: 20px;
            padding-left: 10px;
        }

        div {

            display: grid;
            justify-content: center;
        }

        .boton {

            display: grid;
            justify-content: center;
        }
    }
}
}
/*footer*/
@import"../html/footer";